In [1]:
import pandas as pd
import numpy as np
import string

In [66]:
from sklearn.impute import KNNImputer
from sklearn.preprocessing import scale
import re

In [2]:
offers=pd.read_excel("OfferDetails_neat.xlsx")

In [3]:
pd.options.display.max_columns = 50

In [112]:
maildate=pd.read_csv("MailDate.csv",sep=";")

In [113]:
maildate.head()

   MAILID   MAIL_DATETIME
0   14096  2-1-2018 13:25
1   14128  3-1-2018 17:33
2   14205  5-1-2018 15:03
3   14209  5-1-2018 15:05
4   14210  5-1-2018 14:53

In [129]:
str(maildate[maildate["MAILID"]==14210]["MAIL_DATETIME"]).split("-")[1]

'1'

In [5]:
# Getting rid of nans and inconsistent data types
offers.loc[offers["REVIEW_RATING"]=="-","REVIEW_RATING"]=np.nan
offers["REVIEW_RATING"]=offers["REVIEW_RATING"].astype(float)

offers.loc[offers["DURATION"].apply( lambda x: type(x) is not int),"DURATION"]
offers=offers[offers.DURATION != 'Prijs p.p. (o.b.v. 2 personen)']
offers["DURATION"]=offers["DURATION"].astype(int)

offers["STAR_RATING"]=offers["STAR_RATING"].astype(float)

offers["PRICE"]=offers["PRICE"].astype(float)

offers["OFFER_POSITION"]=offers["OFFER_POSITION"].astype(int)

#Countries
offers.loc[offers["COUNTRY_NAME"].apply( lambda x: x[0:4]=="Tune" ),"COUNTRY_NAME"]='Tunesie'
offers.loc[offers["COUNTRY_NAME"].apply( lambda x: x[0:4]=="Isra" ),"COUNTRY_NAME"]='Israel'
offers.loc[offers["COUNTRY_NAME"].apply( lambda x: x[0:4]=="Ital" ),"COUNTRY_NAME"]='Italie'
offers.loc[offers["COUNTRY_NAME"].apply( lambda x: x[0:4]=="Kroa" ),"COUNTRY_NAME"]='Kroatie'
offers.loc[offers["COUNTRY_NAME"].apply( lambda x: x[0:4]=="Kaap" ),"COUNTRY_NAME"]='Kaapverdie'
offers.loc[offers["COUNTRY_NAME"].apply( lambda x: x=="Egypte " ),"COUNTRY_NAME"]="Egypte"
offers.loc[offers["COUNTRY_NAME"].apply( lambda x: x=="Spanje " ),"COUNTRY_NAME"]="Spanje"
offers.loc[offers["COUNTRY_NAME"].apply( lambda x: x=="Costa del Sol" ),"COUNTRY_NAME"]="Spanje"
offers.loc[offers["COUNTRY_NAME"].apply( lambda x: x=="Roda" ),"COUNTRY_NAME"]="Griekenland"

offers=pd.get_dummies(offers, columns=['COUNTRY_NAME'])

#Discounts
offers["DISCOUNT"]=1-offers["PRICE"]/offers["PRICE_ORIGINAL"] #discount (between 0 and 1)

In [173]:
offers.head()

,MAILID,OFFERID,OFFER_VISUALISATION,OFFER_POSITION,REGION_NAME,CITY_NAME,ACCOMMODATION_NAME,REVIEW_RATING,USP1,USP2,USP3,ROOM_OCCUPANCY,DURATION,DEPARTURE_DATE,PRICE,PRICE_ORIGINAL,ROOMTYPE,STAR_RATING,COUNTRY_NAME_Bulgarije,COUNTRY_NAME_Cyprus,COUNTRY_NAME_Egypte,COUNTRY_NAME_Griekenland,COUNTRY_NAME_Israel,COUNTRY_NAME_Italie,COUNTRY_NAME_Kaapverdie,...,NOVEMBER,DECEMBER,MAILMONTH,MAIL_FEBRUARY,MAIL_MARCH,MAIL_APRIL,MAIL_MAY,MAIL_JUNE,MAIL_JULY,MAIL_AUGUST,MAIL_SEPTEMBER,MAIL_OCTOBER,MAIL_NOVEMBER,MAIL_DECEMBER,DEPARTURE_FEBRUARY,DEPARTURE_MARCH,DEPARTURE_APRIL,DEPARTURE_MAY,DEPARTURE_JUNE,DEPARTURE_JULY,DEPARTURE_AUGUST,DEPARTURE_SEPTEMBER,DEPARTURE_OCTOBER,DEPARTURE_NOVEMBER,DEPARTURE_DECEMBER
0,14128,23221,06 - Acco half width,7,Zwarte Zeekust Varna,Golden Sands,Hotel Excelsior,7.94,Familiehotel,Shuttle busje naar het centrum,"All inclusive, wel zo makkelijk",3 Pers.,8,Jul 18 2018 12:00AM,664.0,749.0,2-persoonskamer type A,4.0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,14128,23222,06 - Acco half width,6,Andalusi√´ - Costa de Almer√≠a,Roquetas de Mar,Hotel Zoraida Resort,8.10,Shows met professionele artiesten,Mooie comfortabele kamers,Zwemparadijs met glijbanen,"4 Pers., 3 Volw., 2 K",8,Jul 14 2018 12:00AM,919.0,1039.0,2-persoonskamer bergzicht type A,4.0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,14128,23223,06 - Acco half width,5,Karpathos,Karpathos-Stad,App. Three Stars,8.28,Volledig gerenoveerd,Gemoedelijk en kleinschalig,Strand op loopafstand,2 Pers.,8,Jul 17 2018 12:00AM,749.0,749.0,2-kamerappartement,3.0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,14128,23224,06 - Acco half width,4,Turkse Rivi√®ra,Side,Xperience Club Nena,8.20,Origineel Xperience animatieprogramma,Sfeervol en ruim opgezet,7 waterglijbanen,"3 Pers., Max 2 Volw.",8,Jul 14 2018 12:00AM,774.0,919.0,2-persoonskamer voordeeltarief,5.0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,14435,24058,06 - Acco half width,9,Andalusi√´ - Costa de Almer√≠a,Roquetas de Mar,Hotel Zoraida Resort,8.10,Shows met professionele artiesten,Mooie comfortabele kamers,Zwemparadijs met glijbanen,"4 Pers., 3 Volw., 2 K",8,Jun 12 2018 12:00AM,519.0,589.0,2-persoonskamer bergzicht type A,4.0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [39]:
# MEAL PLAN

# Dummies first 
# convert everything to lowercase
#offers["MEAL_PLAN"]=offers["MEAL_PLAN"].apply( lambda x: x.lower())
#removing duplicate phrasings of the same thing
offers.loc[offers["MEAL_PLAN"]=="logies met ontbijt","MEAL_PLAN"]="logies en ontbijt"
offers.loc[offers["MEAL_PLAN"]=="logies ontbijt","MEAL_PLAN"]="logies en ontbijt"
offers.loc[offers["MEAL_PLAN"]=="logies & ontbijt","MEAL_PLAN"]="logies en ontbijt"
offers.loc[offers["MEAL_PLAN"]=="ail inclusive","MEAL_PLAN"]="all inclusive"
offers.loc[offers["MEAL_PLAN"]=="all inlcusive","MEAL_PLAN"]="all inclusive"
offers.loc[offers["MEAL_PLAN"]=="half pension","MEAL_PLAN"]="halfpension"
offers.loc[offers["MEAL_PLAN"]=="logies ","MEAL_PLAN"]="logies"

offers=pd.get_dummies(offers, columns=['MEAL_PLAN'])

# Convert to ordinal scale
offers["MEAL_PLAN_ord"]=offers["MEAL_PLAN_logies en ontbijt"]
offers["MEAL_PLAN_ord"]=offers["MEAL_PLAN_ord"]+offers["MEAL_PLAN_halfpension"].apply(lambda x: 2 if x==1 else 0)
offers["MEAL_PLAN_ord"]=offers["MEAL_PLAN_ord"]+offers["MEAL_PLAN_volpension"].apply(lambda x: 3 if x==1 else 0)
offers["MEAL_PLAN_ord"]=offers["MEAL_PLAN_ord"]+offers["MEAL_PLAN_all inclusive"].apply(lambda x: 4 if x==1 else 0)
offers["MEAL_PLAN_ord"]=offers["MEAL_PLAN_ord"]+offers["MEAL_PLAN_ultra all inclusive"].apply(lambda x: 5 if x==1 else 0)

offers["HALFWIDTH"]=offers["OFFER_VISUALISATION"].apply(lambda x: 1 if x=="06 - Acco half width" else 0)

# imputing missing values from the review rating column
imputer = KNNImputer(n_neighbors=5)
X=offers[["REVIEW_RATING","PRICE_ORIGINAL","STAR_RATING","COUNTRY_NAME_Bulgarije",
         "COUNTRY_NAME_Cyprus","COUNTRY_NAME_Egypte","COUNTRY_NAME_Griekenland","COUNTRY_NAME_Italie",
         "COUNTRY_NAME_Kaapverdie","COUNTRY_NAME_Kroatie","COUNTRY_NAME_Marokko",
         "COUNTRY_NAME_Malta","COUNTRY_NAME_Montenegro","COUNTRY_NAME_Portugal","COUNTRY_NAME_Spanje",
         "COUNTRY_NAME_Tunesie"]]
X["REVIEW_RATING"]=X["REVIEW_RATING"].apply(lambda x: np.nan if x==0 else x)
offers["REVIEW_RATING"]=imputer.fit_transform(X)[:,0]

# Room occupancy
offers["CHILDREN"]=offers["ROOM_OCCUPANCY"].apply(lambda x: 1 if "kind" in x.lower() else 0)
offers["ROOMS"]=offers["ROOM_OCCUPANCY"].apply(lambda x: int(re.search(r'\d+', x).group()) ) # return the first number

# Departure date
offers["DEPARTURE_FEBRUARY"]=offers["DEPARTURE_DATE"].apply(lambda x: 1 if ("feb" in str(x).lower() ) else 0)
offers["DEPARTURE_MARCH"]=offers["DEPARTURE_DATE"].apply(lambda x: 1 if ("mar" in str(x).lower() ) else 0)
offers["DEPARTURE_APRIL"]=offers["DEPARTURE_DATE"].apply(lambda x: 1 if ("apr" in str(x).lower() ) else 0)
offers["DEPARTURE_MAY"]=offers["DEPARTURE_DATE"].apply(lambda x: 1 if ("may" in str(x).lower() ) else 0)
offers["DEPARTURE_JUNE"]=offers["DEPARTURE_DATE"].apply(lambda x: 1 if ("jun" in str(x).lower() ) else 0)
offers["DEPARTURE_JULY"]=offers["DEPARTURE_DATE"].apply(lambda x: 1 if ("jul" in str(x).lower() ) else 0)
offers["DEPARTURE_AUGUST"]=offers["DEPARTURE_DATE"].apply(lambda x: 1 if ("aug" in str(x).lower() ) else 0)
offers["DEPARTURE_SEPTEMBER"]=offers["DEPARTURE_DATE"].apply(lambda x: 1 if ("sep" in str(x).lower() ) else 0)
offers["DEPARTURE_OCTOBER"]=offers["DEPARTURE_DATE"].apply(lambda x: 1 if ("oct" in str(x).lower() ) else 0)
offers["DEPARTURE_NOVEMBER"]=offers["DEPARTURE_DATE"].apply(lambda x: 1 if ("nov" in str(x).lower() ) else 0)
offers["DEPARTURE_DECEMBER"]=offers["DEPARTURE_DATE"].apply(lambda x: 1 if ("dec" in str(x).lower() ) else 0)

# Mail time
# Getting rid of NaNs first
mailmonth=offers["MAILID"].apply(lambda x \
    :"" if len(str(maildate[maildate["MAILID"]==x]["MAIL_DATETIME"]).split("-"))<2  \
    else str(maildate[maildate["MAILID"]==x]["MAIL_DATETIME"]).split("-")[1] )
offers["MAILMONTH"]=mailmonth
# Creating mail month dummies
offers["MAIL_FEBRUARY"]=offers["MAILMONTH"].apply(lambda x: 1 if x=="2" else 0)
offers["MAIL_MARCH"]=offers["MAILMONTH"].apply(lambda x: 1 if x=="3" else 0)
offers["MAIL_APRIL"]=offers["MAILMONTH"].apply(lambda x: 1 if x=="4" else 0)
offers["MAIL_MAY"]=offers["MAILMONTH"].apply(lambda x: 1 if x=="5" else 0)
offers["MAIL_JUNE"]=offers["MAILMONTH"].apply(lambda x: 1 if x=="6" else 0)
offers["MAIL_JULY"]=offers["MAILMONTH"].apply(lambda x: 1 if x=="7" else 0)
offers["MAIL_AUGUST"]=offers["MAILMONTH"].apply(lambda x: 1 if x=="8" else 0)
offers["MAIL_SEPTEMBER"]=offers["MAILMONTH"].apply(lambda x: 1 if x=="9" else 0)
offers["MAIL_OCTOBER"]=offers["MAILMONTH"].apply(lambda x: 1 if x=="10" else 0)
offers["MAIL_NOVEMBER"]=offers["MAILMONTH"].apply(lambda x: 1 if x=="11" else 0)
offers["MAIL_DECEMBER"]=offers["MAILMONTH"].apply(lambda x: 1 if x=="12" else 0)